<div class="fc-plugin-footer">
	<a class="fc-plugin-credit" href="https://www.fostercommerce.com/contact" target="_blank" title="{{ 'footer.supportTitle'|t('product-feeds') }}">
		<span class="fc-credit-text">{{ 'footer.supportBy'|t('product-feeds') }}</span>
		<span class="fc-credit-logo">
			{% include 'product-feeds/_includes/foster-commerce-logo' %}
		</span>
	</a>
</div>
